.App {
  text-align: left;
  font-family: "Proxima Nova Soft", "Helvetica Neue", sans-serif;
  background: -webkit-linear-gradient(to right, #eecda3, #ef629f);
  background: linear-gradient(to right, #eecda3, #ef629f);
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.app-body {
  min-height: 100vh;
}

#simple-treeview {
  width: 100%;
  z-index: 1;
  background-color: #fff;
}

.dx-item.dx-treeview-item {
  box-shadow: 3px 5px 3px #ddd;
  background-color: #ddd;
  margin: 0.25rem 1rem 1rem 0rem;
}

.dx-treeview-node-container {
  padding-bottom: 1rem;
}

/* form design code */

.custom-form {
  max-width: 75%;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 0.25rem;
  text-align: center;
}

.custom-form fieldset {
  border: none;
}

.custom-form legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.custom-form label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

.custom-form input[type="text"],
.custom-form input[type="date"],
.custom-form input[type="datetime"],
.custom-form input[type="email"],
.custom-form input[type="number"],
.custom-form input[type="search"],
.custom-form input[type="time"],
.custom-form input[type="url"],
.custom-form textarea,
.custom-form select {
  background: #fff;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #232b30;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

.custom-form input[type="text"]:focus,
.custom-form input[type="date"]:focus,
.custom-form input[type="datetime"]:focus,
.custom-form input[type="email"]:focus,
.custom-form input[type="number"]:focus,
.custom-form input[type="search"]:focus,
.custom-form input[type="time"]:focus,
.custom-form input[type="url"]:focus,
.custom-form textarea:focus,
.custom-form select:focus {
  background: #d2d9dd;
}

.custom-form select {
  -webkit-appearance: menulist-button;
  height: 35px;
}

.custom-form .number {
  background: #1abc9c;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 15px 15px 15px 0px;
}

.custom-form input[type="submit"],
.custom-form input[type="button"] {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #fff;
  margin: 0 auto;
  background: #1abc9c;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}

.custom-form input[type="submit"]:hover,
.custom-form input[type="button"]:hover {
  background: #109177;
}

.buttonsGroup > button {
  margin: 0 1rem;
}

.home img {
  width: 100%;
}

.page_title {
  display: flex;
  justify-content: space-around;
  background-color: #e9ecef;
  margin: 1rem 0;
  padding: 1rem;
}

.page_title h3 {
  text-align: left;
  font-size: 2rem;
  margin: auto;
}
